# IntelliJ files
.idea/

# Source: https://publish.obsidian.md/git-doc/Tips-and-Tricks
# workspace cache
.obsidian/workspace.json
# workspace cache specific to mobile devices
.obsidian/workspace-mobile.json
# OS settings and caches
.trash/
.DS_Store
